*{
    margin: 0;
    padding: 0;
  
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #2E3038;
    display: flex;
    height: 8vh;
    align-items: center;
    font-size: xx-large;
}

.tela-cadastro {   /*bloco cadastro*/
    text-align: center;
    background-color: #F1F1F1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    padding-top: 80px;
    border-radius: 15px;
}

h1 { /* texto cadastro */
    margin: 0;
    margin-bottom: 50px; /* Adicione uma margem inferior negativa para mover o texto "Cadastro" para cima */
}

input {   /*input email/conf-email e senha/conf-senha*/
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}

button {   /*botao Finalizar*/
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    font-size: 15px;
    cursor: pointer;
}

button:hover {   /*muda a cor do Finalizar quando passar mouse em cima*/
    background-color: #333;
}

footer {
    background-color: #2E3038;
    display: flex;
    height: 6vh;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}